<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Petite erreur: {{ status_text }}</title>
    <link rel="stylesheet" href="{{ asset('css/main-bootstraps.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/main_extra.css') }}" type="text/css" />
    <style>
        body, html {
            margin: 0;
            padding: 0;
        }
        
        h1 {
            border-bottom: 1px solid #fff;
            padding: 20px 0;
        }

        #main {
            position: absolute;
            top: 0px;
            bottom: 200px;
            width: 100%;
            background-color: #f3643c;
            color: #fff;
            text-align: center;
        }

        #links {
            color: #000;
            position: absolute;
            bottom: 150px;
            right: 20%;
        }

        img {
            margin-top: 30px;
            max-height: 360px;
            max-width: 600px;
        }

        .btn { margin: 0 10px; } 

    </style>
</head>
<body>
    <div id="main">
        <div class="container">
            <img src="https://i.ytimg.com/vi/6Qv-mPbmWRU/hqdefault.jpg" alt="{{ status_code }}" class="img-rounded">
            <h1 class="text-capitalize">OUPS! Problème !</h1>
            <h2>Plus précisement : {{ status_code }} {{ status_text }}</h2>

            <div>
                C'est pas de bol. Contactez l'admin si nécessaire. Bonne chance !
            </div>  
        </div>
    </div>

    <div id="links">
        <a class="btn btn-default" href="{{ path('core_home') }}">Home</a>
        <a class="btn btn-default" href="{{ path('fantasy_core_pick') }}">Picks</a>
        <a class="btn btn-default" href="{{ path('fantasy_leagues') }}">Leagues</a>
    </div>

    {#
        https://i.ytimg.com/vi/6Qv-mPbmWRU/hqdefault.jpg
        http://www.heapsoffun.com/pictures/20120827/funny_faces_nba_player_1008.jpg
        http://www.carloisles.com/wordpress/wp-content/uploads/2015/01/nba-funny-dirk-nowitzki.png
        https://i.ytimg.com/vi/qzF-1SJxgVw/maxresdefault.jpg
    #}

</body>
</html>