{% extends "CoreBundle::admin_layout.html.twig" %}

{% block body %}

<div class="container-fluid">
                
    <header class="row title">
        <div class="col-lg-12">
            DashBoard ! 
        </div>   
    </header>

    <div class="row">
        <div class="col-lg-6">

            <div class="box">
                <div class="box-header">Box header</div>
                <div class="box-body">
                    {% if missingGames is empty %}
                        <p class="text-center">All is up to date. Well done !</p>
                    {% else %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>round</th>
                                    <th>Team vs @Team</th>
                                    <th>Missing</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for round,games in missingGames %}
                                    {% for game in games %}
                                    <tr>
                                        <td>#{{ round }}#</td>  
                                        <td><strong>{{ game.teams.0.name }} @ {{ game.teams.1.name }}</strong></td>
                                        <td>{{ game.needed }} games</td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="col-lg-3">

            <div class="box">
                <div class="box-header">Box header</div>
                <div class="box-body">
                 Box body
                </div>
            </div>

        </div>

        <div class="col-lg-3">

            <div class="box">
                <div class="box-header">Box header</div>
                <div class="box-body">
                 Box body
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">List of games played with no winners yet. </div>
                <div class="box-body">
                    {% if games is empty %}
                        <p class="text-center">All is up to date. Well done !</p>
                    {% else %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>date</th>
                                    <th>Round</th>
                                    <th>Team vs @Team</th>
                                    <th class="text-center">#NBC ID</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for game in games %}
                                    
                                    <tr class="clickrow" data-url="{{ path('admin_playoff_game_edit', {'id':game.id}) }}">
                                        <td>{{ game.id }}</td>
                                        <td>{{ game.date|date('Y-m-d H:i') }}</td>
                                        <td>#{{ game.round }}#</td>
                                        <td><strong>{{ game.teamExt.name }} @ {{ game.teamDom.name }}</strong></td>
                                        <td class="text-center">{{ game.aid }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('admin_playoff_statsheet_fetch', {'id':game.aid}) }}" class="btn btn-default btn-sm">Fetch result</a>
                                            <a href="{{ path('admin_playoff_game_delete', {'id':game.id}) }}" class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                    
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}
