{% extends "CoreBundle::admin_layout.html.twig" %}

{% block body %}

<div class="container-fluid">
                
    <header class="row title">
        <div class="col-lg-12">
            <i class="fa fa-user" aria-hidden="true"></i> Game ! 
        </div>   
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12 box">
                <div class="box-header">Add a new game</div>
                <div class="box-body row">
                
                {# debut form #}
                {{ form_start(form) }}  


                    <div class="col-lg-12">

                        <div class="box">
                            <div class="box-header">General info</div>
                            <div class="box-body">
                            

                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        {{ form_label(form.teamExt, 'Team Away' ) }}
                                        {{ form_errors(form.teamExt) }}
                                        {{ form_widget(form.teamExt, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-xs-6">
                                        {{ form_label(form.teamDom, '@ Team Home' ) }}
                                        {{ form_errors(form.teamDom) }}
                                        {{ form_widget(form.teamDom, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        {{ form_label(form.date, 'Date format NBA.com' ) }}
                                        {{ form_errors(form.date) }}
                                        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-xs-3">
                                        {{ form_label(form.round, 'Round' ) }}
                                        {{ form_errors(form.round) }}
                                        {{ form_widget(form.round, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-xs-3">
                                        {{ form_label(form.aid, 'Game ID from NBC' ) }}
                                        {{ form_errors(form.aid) }}
                                        {{ form_widget(form.aid, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12 text-center colsubmit">
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>

                {{ form_end(form) }}

                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            console.log('datepicker');
            $('#game_add_date').datetimepicker({
                    format: 'Y-MM-DD H:m'
            });


            $('#game_add_date').on('focusout', function(){
                if( $('#game_add_aid').val().length < 1 ) {
                    var time = $(this).val();
                    var gameid = time.split(" ");
                    gameid = gameid[0].replace(/-/g, '');
                    $('#game_add_aid').val(gameid);
                }
            });

        });
    </script>
{% endblock %}